.Experience_container {
    margin: 0px 138px;
    margin-top: 45px;
    // background-color: rgb(17, 17, 17);

    h1 {
        // color: #ffffff;
        line-height: 31.2px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
        margin: 0px;
        padding: 0px 0px 22px;
        font-weight: 600;
        font-style: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: uppercase;
        -webkit-text-decoration: none solid rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        text-indent: 0px;
        font-family: "Poppins", sans-serif;
        font-size: 26px;
        margin-top: 20px;
    }

    .experience_div {
        display: flex;
        flex-wrap: wrap;
        // background-color: red;

        .experience_data {
            // background-color: aqua;
            // border: 1px solid red;
            padding: 30px;
            width: 50%;
            height: 230px;

            .experiece_container {
                // border-left: 1px solid rgb(255, 255, 255, 0.25);
                // height: 200px;
                height: auto;
                position: relative;

                .icon_data {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: rgb(43, 42, 42);
                    border: none;
                    cursor: pointer;
                }

                .experience_icon {
                    background-color: #ffb400;
                    position: absolute;
                    // left: 143px;
                    left: -29px;
                }

                .experience_icon:hover {
                    background-color: #ffb400;
                }

                .data {
                    margin-left: 35px;

                    .duration {
                        margin-top: 10px;
                        // color: #fff;
                        font-size: 12px;
                        padding: 3px 10px;
                        display: inline-block;
                        margin-bottom: 12px;
                        text-transform: uppercase;
                        border-radius: 20px;
                        font-weight: 600;
                        background-color: rgb(0, 0, 0, 0.8);
                    }

                    .Experience_title {
                        text-transform: uppercase;
                        // color: #ffffff;
                        vertical-align: baseline;
                        letter-spacing: normal;
                        word-spacing: 0px;
                        font-weight: 600;
                        font-style: normal;
                        font-variant: normal;
                        text-transform: uppercase;
                        text-decoration: none solid rgb(255, 255, 255);
                        text-indent: 0px;
                        font-family: "Poppins", sans-serif;
                        font-size: 19px;
                        margin-top: 10px;

                        .branch {
                            text-transform: uppercase;
                            // color: rgb(255, 255, 255, 0.8);
                            vertical-align: baseline;
                            letter-spacing: normal;
                            word-spacing: 0px;
                            font-weight: 600;
                            font-style: normal;
                            font-variant: normal;
                            text-transform: uppercase;
                            text-decoration: none solid rgb(255, 255, 255);
                            text-indent: 0px;
                            font-family: "Poppins", sans-serif;
                            font-size: 17px;
                        }


                    }

                    p {
                        font-family: "Poppins", sans-serif;
                        // color: rgb(255, 255, 255, 0.8);
                        font-size: 15px;
                        text-align: justify;
                        margin-top: 15px;

                    }
                }

            }

        }


    }
    .slide-in-elliptic-top-fwd{-webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2022-12-1 11:3:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}
}