.Contact_Container {
  width: 100vw;
  // height: 100vh;
  height: auto !important;
  // background-color: rgb(17, 17, 17);

  .title_container {
    width: 100%;
    display: flex;
    justify-content: center;

    .title {
      font-size: 56px;
      font-weight: 900 !important;
      color: #fff;
      text-transform: uppercase;
      margin-top: 30px;
      // .title-bg {
      //   font-size: 110px;
      //   left: 0;
      //   letter-spacing: 10px;
      //   line-height: .7;
      //   position: absolute;
      //   right: 0;
      //   top: 50%;
      //   text-transform: uppercase;
      //   font-weight: 800;
      //   transform: translateY(-50%);
      //   color: hsla(0, 0%, 100%, .07);
      // }
      .titlecolor {
        color: RGB(255, 180, 0);
      }

     
    }
  }

  .contact_div {
    display: flex;
    margin: 0px 138px;
    height: 100vh;
    // background-color: red;
    margin-top: 80px;

    .contact_left {
      width: 35%;
      // background-color: aqua;

      .title {
        color: #ffffff;
        margin: 0px;
        font-weight: 600;
        font-style: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-size: 26px;
        margin-top: 20px;
      }

      p {
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        margin-top: 32px;
        text-align: justify;
        font-size: 17px;

      }

      .asideicon {
        display: flex;
        // background-color: red;
        margin-top: 35px;

        .icon {
          width: 15%
        }

        .info {
          width: 85%;

          .address {
            margin-top: 0px;
            text-transform: uppercase;
            color: rgb(255, 255, 255, 0.8);
            vertical-align: baseline;
            letter-spacing: normal;
            word-spacing: 0px;
            font-weight: 600;
            font-style: normal;
            font-variant: normal;
            text-decoration: none solid rgb(255, 255, 255);
            text-indent: 0px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
          }

          .street {
            margin-top: 10px;
            color: rgb(255, 255, 255);
            vertical-align: baseline;
            letter-spacing: normal;
            word-spacing: 0px;
            font-weight: 600;
            line-height: 17px;
            font-style: normal;
            font-variant: normal;
            text-decoration: none solid rgb(255, 255, 255);
            text-indent: 0px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
          }
        }
      }
    }

    .contact_right {
      width: 65%;

      .contact_input {
        margin: 30px 40px;

        .inputbox {
          display: flex;

          .left {
            width: 50%;

            input,
            input[type=text] {
              // border: 1px solid #111;
              width: 100%;
              // background: #252525;
              color: #fff;
              padding: 11px 26px;
              border-radius: 30px;
              outline: none !important;
              height: 55px;

              transition: .3s;
              padding-left: 30px;
            }

            input:focus {
              outline: none !important;
              border: 1px solid #ffb400;
              // box-shadow: 0 0 10px #719ECE;
            }
          }

          .right {
            width: 50%;

            input,
            input[type=text] {
              // border: 1px solid #111;
              width: 100%;
              height: 55px;
              // background: #252525;
              color: #fff;
              padding: 11px 26px;
              border-radius: 30px;
              outline: none !important;
              transition: .3s;
            }

            input:focus {
              outline: none !important;
              border: 1px solid #ffb400;
              // box-shadow: 0 0 10px #719ECE;
            }
          }
        }

        .inputbox2 {
          margin-top: 50px;

          input,
          input[type=text] {
            // border: 1px solid #111;
            width: 100%;
            // background: #252525;
            color: #fff;
            padding: 11px 26px;
            border-radius: 30px;
            outline: none !important;
            height: 55px;

            transition: .3s;
            padding-left: 30px;
          }

          input:focus {
            outline: none !important;
            border: 1px solid #ffb400;
            // box-shadow: 0 0 10px #719ECE;
          }
        }

        .textareabox {
          margin-top: 50px;

          textarea {
            // border: 1px solid #111;
            width: 100%;
            background: #252525;
            color: #fff;
            padding: 11px 26px;
            border-radius: 30px;
            outline: none !important;


            transition: .3s;
          }

          textarea:focus {
            outline: none !important;
            border: 1px solid #ffb400;
            // box-shadow: 0 0 10px #719ECE;
          }

        }

        .demo {
          margin-top: 50px;
        }
      }

    }
  }

  .fa-solid {
    font-size: 34px;
    color: #ffb400;
  }

  .fa-brands {
    font-size: 20px;
    color: #ffffff;
  }

  .brand {
    margin-left: 10px;
    margin-top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // background-color: rgb(43, 42, 42);
    border: none;
    cursor: pointer;
  }
  .brand:hover{
  background-color: #FFB400;
  }

  .hoverdemo {
    position: relative;
    height: 62px;
    width: 246px;
    font-size: 15px;
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 65px;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    // background: #0d0d0d;
    overflow: hidden;
    transition: 0.6s;
  }

  .hoverdemo:last-child {
    color: #FFB400;
    border-color: #FFB400;
  }

  .hoverdemo:before,
  button:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    filter: blur(30px);
    opacity: 0.4;
    transition: 0.6s;
  }

  .hoverdemo:before {
    width: 60px;
    background: rgba(255, 255, 255, 0.6);
    transform: translateX(-130px) skewX(-45deg);
  }

  .hoverdemo:after {
    width: 30px;
    background: rgba(255, 255, 255, 0.6);
    transform: translateX(-130px) skewX(-45deg);
  }

  .hoverdemo:hover:before,
  .hoverdemo:hover:after {
    opacity: 0.6;
    transform: translateX(320px) skewX(-45deg);
  }

  .hoverbutton:hover {
    color: #f2f2f2;
  }

  .hoverbutton:hover:last-child {
    background: #FFB400;
  }
  .slide-in-elliptic-top-fwd{-webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both}
  /* ----------------------------------------------
   * Generated by Animista on 2022-12-1 11:3:39
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
   @-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}

}
@media only screen and (max-width: 600px) {
  .Contact_Container .title_container .title {
    font-size: 36px;
    font-weight: 900 !important;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
}
.Contact_Container .contact_div {
  display: flex;
   margin: 0px 0px; 
  flex-direction: column;
  height: auto;
  margin-top: 31px;
}
.Contact_Container .contact_div .contact_right {
  width: 100%;
}
.Contact_Container .contact_div .contact_left {
  width: 100%;
  padding-left: 35px;
  padding-right: 65px;
}
.Contact_Container .contact_div .contact_left .title {
font-size: 22px;
}
.Contact_Container .contact_div .contact_left p {
  
  text-align: left;
  font-size: 15px;
}
.Contact_Container .contact_div .contact_left .asideicon .info .address {
font-size: 13px;
}
.Contact_Container .contact_div .contact_left .asideicon .info .street {
font-size: 13px;
}
.Contact_Container .brand {
margin-top: 17px;
}
.Contact_Container .contact_div .contact_right .contact_input {
  margin: 23px 11px;
}
.Contact_Container .fa-solid {
  font-size: 31px;
  color: #ffb400;
}
.Contact_Container .hoverdemo {
margin-top: 7px;
height: 53px;
    width: 176px;
}
}